<extend name="Public/base"/>


{// 左侧菜单}
<block name="sidebar">
    <include file="Public/sidebar" nav="agent"/>

</block>

<block name="main">
    <style type="text/css">
        .ball{
            color: #3d3d3d;
            display: block;
            float: left;
            font-family: tahoma;
            font-size: 14px;
            font-weight: bold;
            height: 30px;
            line-height: 25px;
            text-align: center;
            width: 30px;

        }
        .td{
            text-align: center;
            margin-left:20px;
        }
        .greenball{
            background: rgba(0, 0, 0, 0) url("{:C('__STATIC__')}/assets/images/ball.png") no-repeat scroll -1px -1px;
        }
        .redball{
            background: rgba(0, 0, 0, 0) url("{:C('__STATIC__')}/assets/images/ball.png") no-repeat scroll -36px -1px;
        }
        .blueball{
            background: rgba(0, 0, 0, 0) url("{:C('__STATIC__')}/assets/images/ball.png") no-repeat scroll -71px -1px;
        }
    </style>
    <div class="main-content">
        <div class="page-content">
            <div class="page-header">
                <h1>
                    开奖记录管理
                    <small>
                        <i class="icon-double-angle-right"></i>
                        列表
                    </small>
                </h1>
            </div><!-- /.page-header -->


            <!-- 主要内容 -->
            <div class="row">
                <form class="form-search" method="get" action="{:U('Admin/LotteryRecord/index')}">
                    <div class="col-sm-2">
                        <div class="input-group">
                            <label class="control-label no-padding-right" for="form-field-1">期数 : </label>
                            <select id="form-field-select-1" name="periods" class="">
                                <option value="请选择期数" disabled selected>--期数--</option>

                                <foreach name="periods" item="vo">
                                    <option value="{$vo.id}"><b>{$vo.periods}</b>-期</option>
                                </foreach>
                            </select>
                        </div>
                    </div>
                    <div class=" col-sm-2">
                        <div class="input-group">
                            <label class="lbl">年份:</label>
                            <input type="text" name="year" placeholder="请输入年份" class="input-small" />
                        </div>
                    </div>
                    <div class=" col-sm-2">
                        <div class="input-group">
                            <label class="lbl">周数:</label>
                            <input type="text" name="week" placeholder="请输入周" class="input-small" />
                        </div>
                    </div>
                    <div class=" col-sm-2">
                        <div class="input-group">
                            <label class="control-label no-padding-right" for="form-field-1">特码单双 : </label>
                            <select id="form-field-select-2" name="singleDouble" class="">
                                <option value="请选择单双号" disabled selected>--单双号--</option>
                                <option value="1">单</option>
                                <option value="0">双</option>
                            </select>
                        </div>
                    </div>
                    <div class=" col-sm-2">
                        <div class="input-group">
                            <label class="control-label no-padding-right" for="form-field-1">日期排序 : </label>
                            <select id="form-field-select-3" name="data" class="">
                                <option value="请选择单双号" disabled selected>--日期排序--</option>
                                <option value="asc" >--正序--</option>
                                <option value="sort">--倒序--</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <input class="form-control search-query" placeholder="请输入搜素内容" type="text" name="lottery_serach">
                            <span class="input-group-btn">
                            <button class="btn btn-purple btn-sm" type="submit">
                                搜索
                                <i class="icon-search icon-on-right bigger-110"></i>
                            </button>
                                 <a class="btn btn-grey btn-sm"  href="{:U('Admin/LotteryRecord/index')}">
                                    重置
                                     <i class="icon-remove icon-on-right bigger-110"></i>
                                 </a>
                            </span>
                        </div>
                    </div>
                </form>
                <hr>
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="center">
                                    <label>
                                        <input class="ace" type="checkbox">
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th>开奖人</th>
                                <th>年份/ 期数</th>
                                <th>周数</th>
                                <th>正码</th>
                                <th>特码</th>
                                <th>特码单双</th>
                                <th>特码大小</th>
                                <th>总和单双</th>
                                <th class="hidden-480">状态</th>

                                <th>
                                    <i class="icon-time bigger-110 hidden-480"></i>
                                    开码时间
                                </th>
                                <th class="hidden-480">操作</th>
                            </tr>
                            </thead>

                            <tbody>
                            <volist name="periodsRes" id="periods">
                            <tr>
                                <td class="center">
                                    <label>
                                        <input class="ace" type="checkbox">
                                        <span class="lbl"></span>
                                    </label>
                                </td>

                                <td>
                                    <a href="#">{$periods.username}</a>
                                </td>
                                <td>
                                    <span>{$periods.created_at|strtotime|date="Y",###} / <b>{$periods.periods}</b>期</span>
                                </td>
                                <td>
                                    <span class="label label-info arrowed-in-right arrowed">{$periods.week}</span>
                                </td>
                                <?php   $nature =  new  Common\Common\Nature();
                                            $year  = date('Y',strtotime($periods['created_at']));
                                        ?>
                                <td>

                                    <?php
                                        if(!empty($periods['just_string'])){
                                        $one =  $periods['just_one']%3;?>
                                    <switch name="one">
                                        <case value="0"> <span class=" ball greenball"></case>
                                        <case value="1"> <span class=" ball redball"></case>
                                        <case value="2"> <span class=" ball blueball"></case>
                                        <default />
                                            <span>
                                    </switch>
                                        {$periods.just_one}</span>
                                        <span class="ball"><?php echo $nature->codeToAnimal($year,$periods['just_one']);?></span>
                                    <?php $two =  $periods['just_two']%3;?>
                                    <switch name="two">
                                        <case value="0"> <span class=" ball greenball"></case>
                                        <case value="1"> <span class=" ball redball"></case>
                                        <case value="2"> <span class=" ball blueball"></case>
                                        <default />
                                            <span>
                                    </switch>
                                        {$periods.just_two}</span>
                                    <span class="ball"><?php echo $nature->codeToAnimal($year,$periods['just_two']);?></span>
                                    <?php $three =  $periods['just_three']%3;?>
                                    <switch name="three">
                                        <case value="0"> <span class=" ball greenball"></case>
                                        <case value="1"> <span class=" ball redball"></case>
                                        <case value="2"> <span class=" ball blueball"></case>
                                        <default />
                                            <span>
                                    </switch>
                                         {$periods.just_three}</span>
                                    <span class="ball"><?php echo $nature->codeToAnimal($year,$periods['just_three']);?></span>
                                    <?php $four =  $periods['just_four']%3;?>
                                    <switch name="four">
                                        <case value="0"> <span class=" ball greenball"></case>
                                        <case value="1"> <span class=" ball redball"></case>
                                        <case value="2"> <span class=" ball blueball"></case>
                                        <default />
                                            <span>
                                    </switch>
                                        {$periods.just_four}</span>
                                    <span class="ball"><?php echo $nature->codeToAnimal($year,$periods['just_four']);?></span>
                                    <?php $five =  $periods['just_five']%3;?>
                                    <switch name="five">
                                        <case value="0"> <span class=" ball greenball"></case>
                                        <case value="1"> <span class=" ball redball"></case>
                                        <case value="2"> <span class=" ball blueball"></case>
                                        <default />
                                            <span>
                                    </switch>
                                        {$periods.just_five}</span>
                                    <span class="ball"><?php echo $nature->codeToAnimal($year,$periods['just_five']);?></span>
                                    <?php $six =  $periods['just_six']%3;?>
                                    <switch name="six">
                                        <case value="0"> <span class=" ball greenball"></case>
                                        <case value="1"> <span class=" ball redball"></case>
                                        <case value="2"> <span class=" ball blueball"></case>
                                        <default />
                                            <span>
                                    </switch>
                                    {$periods.just_six}</span>
                                    <span class="ball"><?php echo $nature->codeToAnimal($year,$periods['just_six']);?></span>
                                    <?php }?>
                                </td>
                                <td class="hidden-480">
                                    <?php
                                         if(!empty($periods['special_number'])){
                                            $special =  $periods['special_number']%3;?>
                                    <switch name="special">
                                        <case value="0"> <span class=" ball greenball"></case>
                                        <case value="1"> <span class=" ball redball"></case>
                                        <case value="2"> <span class=" ball blueball"></case>
                                        <default />
                                            <span>
                                    </switch>
                                    {$periods.special_number}</span>
                                    <span class="ball"><?php echo $nature->codeToAnimal($year,$periods['special_number']);?></span>
                                    <?php
                                        }
                                    ?>
                                </td>
                                <td>
                                    <span class="ball">
                                    <if condition="$periods.special_one_two eq 0 ">
                                        双
                                    <else/>
                                        单
                                    </if>
                                    </span>
                                </td>

                                <td class="hidden-480">
                                    <span class="label label-sm label-warning">
                                        <if condition="$periods lt 25 ">
                                            大
                                            <else />
                                            小
                                        </if>
                                    </span>
                                </td>
                                <td>
                                   {$periods['just_collect']+$periods['special_number']}
                                </td>
                                <td>
                                    <if condition="$periods['status'] eq active">
                                        <button class="btn btn-success btn-sm">已开奖 </button>
                                    <else />
                                        <button class="btn btn-sm">待开奖 </button>

                                    </if>
                                </td>
                                <td>
                                    {$periods.lottery_time}
                                </td>
                                <td>
                                    <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                        <a class="btn btn-xs btn-success" href="{:U('Admin/LotteryRecord/edit',array('id'=>$periods['id']))}" title="查看">
                                            <i class="icon-ok bigger-120"></i>
                                        </a>
                                        <if condition="$periods['status'] eq wait">
                                            <a class="btn btn-xs btn-info" href="{:U('Admin/LotteryRecord/edit',array('id'=>$periods['id']))}" title="编辑">
                                                <i class="icon-edit bigger-120"></i>
                                            </a>
                                        </if>

                                        <button class="btn btn-xs btn-danger del-confirm" data-id= "{$periods['id']}">
                                            <i class="icon-trash bigger-120"></i>
                                        </button>

                                        <button class="btn btn-xs btn-warning confirm-lottery" data-id="{$periods['id']}" >
                                            <i class="icon-flag bigger-120"></i>
                                        </button>
                                    </div>

                                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                                        <div class="inline position-relative">
                                            <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
                                                <i class="icon-cog icon-only bigger-110"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href="{:U('Admin/LotteryRecord/edit',array('id'=>$periods['id']))}" class="tooltip-info" data-rel="tooltip" title="" data-original-title="View">
																				<span class="blue">
																					<i class="icon-zoom-in bigger-120"></i>
																				</span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="{:U('Admin/LotteryRecord/edit',array('id'=>$periods['id']))}" class="tooltip-success" data-rel="tooltip" title="" data-original-title="Edit">
																				<span class="green">
																					<i class="icon-edit bigger-120"></i>
																				</span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="tooltip-error del-confirm"  data-id="{$periods['id']}"data-rel="tooltip" title="" data-original-title="Delete">
																				<span class="red">
																					<i class="icon-trash bigger-120"></i>
																				</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="tooltip-error confirm-lottery"  data-id="{$periods['id']}"data-rel="tooltip" title="" data-original-title="Delete">
																				<span class="pink">
																					<i class="icon-filter bigger-120"></i>
																				</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            </volist>



                            </tbody>
                        </table>
                        <div class="row-fluid">
                            <div class="page">{$page}</div>
                        </div>
                    </div><!-- /.table-responsive -->
                </div>
            </div>





        </div>
    </div>
    <script type="text/javascript">
        $('.del-confirm').on('click' , function() {
            var  id = $(this).attr('data-id');
            console.log(id);
            _this = $(this);
            layer.confirm('您确认删除该期开奖记录么?', {
                btn: ['确定', '取消']
            }, function () {
                $.ajax({
                    url: '{:U("LotteryRecord/delete")}',
                    type: 'post',
                    dataType: '',
                    data: {'id':id},
                    success: function(d){
                        if(d.status == 'ok') {
                            _this.parents('tr').remove();
                            layer.msg('删除成功', {icon: 1});
                        }else{
                            layer.msg('删除失败', {icon: 3});
                        }
                    }
                });
            }, function () {
                layer.msg('已取消', {icon: 2});
            });
        });
        $('.confirm-lottery').on('click' , function() {
            var  id = $(this).attr('data-id');
            console.log(id);
            _this = $(this);
            layer.confirm('您确认公布本期奖项么?公布后,新的一期将自动生成', {
                btn: ['确定', '取消']
            }, function () {
                $.ajax({
                    url: '{:U("LotteryRecord/publish")}',
                    type: 'post',
                    dataType: '',
                    data: {'id':id},
                    success: function(d){
                        if(d.status == 'ok') {
                            _this.parents('tr').remove();
                            layer.msg('公布成功', {icon: 1});
                            setTimeout(function(){
                                location.href="/Admin/LotteryRecord/index";
                            },2000);
                        }else{
                            layer.msg('公布失败', {icon: 3});
                        }
                    }
                });
            }, function () {
                layer.msg('已取消', {icon: 2});
            });
        });
    </script>
</block>