<extend name="Member/include" title="密码修改"/>

 <block name="content">
     <div class="page-position">
         <a href="{:U('Member/info')}" class="infomation"></a>
         <a href="{:U('Member/password')}" class="safetycenter-cur"></a>
         <a href="{:U('Member/email')}" class="mailcenter"></a>
         <a href="{:U('Member/phone')}" class="phonecenter"></a>
     </div>
     <div class="clear"></div>
    <form action="/Member/updatepassword?" class="updateform" id="updateform" method="post" onsubmit="return false;">
        <ol class="member-box">
            <li>
                <label>当前密码：</label>
                <input class="ui_input" name="oldPassword" type="password" id="oldPassword" value="">
            </li>
            <li>
                <label style="margin-left:12px;">新密码：</label>
                <input class="ui_input" name="newPassword" type="password" id="newPassword" value="">
            </li>
            <li>
                <label>确认密码：</label>
                <input class="ui_input" name="newPassword2" type="password" id="newPassword2" value="">
            </li>
        </ol>
        <div class="button_content" style="margin-left:200px;">
            <button type="submit" class="button" id="btnUpdate" style="width:200px; height:30px; margin-left:100px;">确认修改</button>
            <input type="hidden" name="ajaxhandler" value="modifypass">
        </div>
    </form>
    <script type="text/javascript">
        jQuery('form').jValidate({
            blurvalidate: true,
            isbubble: true,
            oncompleted: function (form) {
                var userpass = $('#oldPassword');
                var userpass1 = $('#newPassword');
                var userpass2 = $('#newPassword2');
                if (userpass.val() == "") {
                    alert("请输入当前密码。");
                    userpass.focus();
                    return false;
                }
                if (userpass1.val() == "") {
                    alert("请输入新密码。");
                    userpass1.focus();
                    return false;
                }
                if (userpass2.val() == "") {
                    alert("请输入确认密码。");
                    userpass2.focus();
                    return false;
                }
                if (userpass1.val() != userpass2.val()) {
                    alert("两次密码输入不一致。");
                    userpass2.focus();
                    return false;
                }

                var repass = userpass.val().split('').reverse().join('');
                userpass.val(hex_md5(userpass.val() + '' + repass));

                var repass1 = userpass1.val().split('').reverse().join('');
                userpass1.val(hex_md5(userpass1.val() + '' + repass1));

                var repass2 = userpass2.val().split('').reverse().join('');
                userpass2.val(hex_md5(userpass2.val() + '' + repass2));
                jQuery(form).ajaxPost(function (result) {
                    userpass.val('');
                    userpass1.val('');
                    userpass2.val('');
                    if (result.success) {
                        alert("密码修改成功，请记住新密码。");
                    } else {
                        alert(result.message);
                    }
                });
                return false;
            }
        });
    </script>
</block>