<extend name="Public/base"/>

<block name="main">
    <div class="main-content">
        <div class="page-content">
            <div class="page-header">
                <h1>
                    论坛版块管理
                    <small class="active">
                        <i class="icon-double-angle-right"></i>
                        修改
                    </small>
                </h1>
            </div><!-- /.page-header -->

            <div class="alert  hide ">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>

                <strong>
                    <i class="icon-remove"></i>

                </strong>
                <span>Change a few things up and try submitting again.</span>

                <br>
            </div>

            <div class="row">
                <div class="col-xs-12">

                    <form class="form-horizontal" id="signup_form" role="form" autocomplete="off" data-validator-option="{theme:'simple_right'}">
                        <div class="form-group">
                        	<input type="hidden"  name="id" value="{$obj['id']}"/>
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">版块名称</label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" name="name" placeholder="请输入版块名称" class="col-xs-10 col-sm-5"  value='{$obj.name}'/>
                            </div>
                        </div>

                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">补充说明</label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-2" name="slug" placeholder="请输入补充说明" class="col-xs-10 col-sm-5"  value="{$obj.slug}" />
                            </div>
                        </div>
                        
                        <div class="space-4"></div>

                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="submit">
                                    <i class="icon-ok bigger-110"></i>
                                    提交
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="icon-undo bigger-110"></i>
                                    重置
                                </button>
                            </div>
                        </div>


                    </form>


                </div>

            </div>

        </div>


    </div>


        {// main}



</block>

<block name="js">
    <script type="text/javascript">
        $('#signup_form').validator({
            fields: {
                'name': 'required; name;',
                'slug': 'required; slug;',

            },
            // 表单验证通过后，ajax提交
            valid: function(form){

                var me = this;
                // ajax提交表单之前，先禁用submit
//                me.holdSubmit();
                $(form).find('btn-info').css('color', '#999').text('正在提交..');
                $.ajax({
                    url: '{:U("DiscussCategory/doEdit")}',
                    type: 'post',
                    data: $(form).serialize(),
                    dataType: 'json',
                    success: function(d){
                        $(form).find('btn-info').css('color', '#333').text('提交');
//                        $('#result')
//                                .fadeIn(300).delay(2000)
//                                .fadeOut(500, function(){
//                                    // 直到动画结束，才可以再次提交
//                                    me.holdSubmit(false);
//                                    alert(11);
//                                });
                        if(d.status =='ok'){
                            $('.alert').removeClass('hide').removeClass('alert-danger').addClass('alert-info');

                            $('.alert').find('span').html('修改成功');
                        }else{
                            $('.alert').removeClass('hide').removeClass('alert-danger').addClass('alert-danger');

                            $('.alert').find('span').html('已修改,请不要重复提交');
                        }

                    }
                });

            }
        });
    </script>

</block>