<!-- 头部-->
<include file="Include:head" title="{:C(Index)['title']}" keywords="{:C(Index)['keywords']}"
         description="{:C('Index')['description']}"/>

<block name="main">

    <!--弹出层-->
    <div class="lhck160_maskLayer"></div>
    <div class="lhck160_h_explanationPopups1">
        <div class="lhck160_h_explanationPopups2">
            <div class="lhck160_h_explanationPopups" id="explanatioinfo">
                <a class="lhck160_h_ep_close" href="javascript:void(0);"></a>
                <p class="title"><span>属性参照表</span></p>
                <div class="tool" id="explanatiotool">
                    <a class="hover" href="javascript:void(0);">生肖</a>
                    <a href="javascript:void(0);">五行</a>
                    <a href="javascript:void(0);">家禽野兽</a>
                    <a href="javascript:void(0);">男女生肖</a>
                    <a href="javascript:void(0);">天地生肖</a>
                    <a href="javascript:void(0);">四季生肖</a>
                    <a href="javascript:void(0);">琴棋书画</a>
                    <a href="javascript:void(0);">三色生肖</a>
                    <div style="clear: both"></div>
                </div>
                <div class="info">
                    <div class="info_d">
                        <p><strong>鼠：</strong>09、21、33、45</p>
                        <p><strong>龙：</strong>05、17、29、41</p>
                        <p><strong>猴：</strong>01、13、25、37、49</p>
                    </div>
                    <div class="info_d">
                        <p><strong>牛：</strong>08、20、32、44</p>
                        <p><strong>蛇：</strong>04、16、28、40</p>
                        <p><strong>鸡：</strong>12、24、36、48</p>
                    </div>
                    <div class="info_d">
                        <p><strong>虎：</strong>07、19、31、43</p>
                        <p><strong>马：</strong>03、15、27、39</p>
                        <p><strong>狗：</strong>11、23、35、47</p>
                    </div>
                    <div class="info_d">
                        <p><strong>兔：</strong>06、18、30、42</p>
                        <p><strong>羊：</strong>02、14、26、38</p>
                        <p><strong>猪：</strong>10、22、34、46</p>
                    </div>
                    <div style="clear: both"></div>
                </div>


                <div class="info" style="display: none;">
                    <div class="info_d" style="width: 350px;">
                        <p><strong>金：</strong>02、03、16、17、24、25、32、33、46、47</p>
                        <p><strong>木：</strong>06、07、14、15、28、29、36、37、44、45</p>
                        <p><strong>水：</strong>04、05、12、13、20、21、34、35、42、43</p>
                        <p><strong>火：</strong>01、08、09、22、23、30、31、38、39</p>
                        <p><strong>土：</strong>10、11、18、19、26、27、40、41、48、49</p>
                    </div>
                    <div style="clear: both"></div>
                </div>


                <div class="info" style="display: none;">
                    <div class="info_d" style="width: 250px;">
                        <p><strong>家禽：</strong>牛、马、羊、鸡、狗、猪</p>
                        <p><strong>野兽：</strong>鼠、虎、兔、龙、蛇、猴</p>
                    </div>
                    <div style="clear: both"></div>
                </div>

                <div class="info" style="display: none;">
                    <div class="info_d" style="width: 250px;">
                        <p><strong>男肖：</strong>鼠、牛、虎、龙、马、猴、狗</p>
                        <p><strong>女肖：</strong>兔、蛇、羊、鸡、猪</p>
                    </div>
                    <div style="clear: both"></div>
                </div>


                <div class="info" style="display: none;">
                    <div class="info_d" style="width: 250px;">
                        <p><strong>天肖：</strong>牛、兔、龙、马、猴、猪</p>
                        <p><strong>地肖：</strong>鼠、虎、蛇、羊、鸡、狗</p>
                    </div>
                    <div style="clear: both"></div>
                </div>

                <div class="info" style="display: none;">
                    <div class="info_d">
                        <p><strong>春肖：</strong>虎、兔、龙</p>
                        <p><strong>夏肖：</strong>蛇、马、羊</p>
                        <p><strong>秋肖：</strong>猴、鸡、狗</p>
                        <p><strong>冬肖：</strong>鼠、牛、猪</p>
                    </div>
                    <div style="clear: both"></div>
                </div>



                <div class="info" style="display: none;">
                    <div class="info_d">
                        <p><strong>琴肖：</strong>兔、蛇、鸡</p>
                        <p><strong>棋肖：</strong>鼠、牛、狗</p>
                        <p><strong>书肖：</strong>虎、龙、马</p>
                        <p><strong>画肖：</strong>羊、猴、猪</p>
                    </div>
                    <div style="clear: both"></div>
                </div>

                <div class="info" style="display: none;">
                    <div class="info_d">
                        <p><strong>红肖：</strong>鼠、兔、马、鸡</p>
                        <p><strong>蓝肖：</strong>虎、蛇、猴、猪</p>
                        <p><strong>绿肖：</strong>牛、龙、羊、狗</p>
                    </div>
                    <div style="clear: both"></div>
                </div>

            </div>
        </div>
    </div>
    <!--弹出层-->





    <div id="lhc_history_top"></div>
    <div id="lhc_history_menu_lf" class="ad_small_banner"></div>
    <div class="clear"></div>

    <div id="main">

        <a class="go_calendar" style="float: right; padding: 0px 5px;" target="_blank" href="/stat/calendar">点击查看搅珠日期
        </a>
        <div class="history_title">
            六合彩历史开奖记录查询
        </div>
        <table class="history_year">
            <volist name="history_year"  id="year" key="key">
                <?php $start = $key %14;
                      $stop  = $key %13;?>
                <if condition="$start eq 1">
                     <tr>
                </if>
                <?php
                    $cur = ($_GET['year'] == $year['year']) ? "cur" : "";
                ?>
                <td> <a  class="{$cur}" href="/Home/Mark?year={$year['year']}&type=1">{$year.year}</a> </td>
                <if condition="$start eq 0">
                    </tr>
                </if>


            </volist>
        </table>


        <a class="a6hbd" href="javascript:void();" target="_blank" style="font-size: 13px; margin-top: 10px; margin-bottom: 10px; color: #ea5c38; display: block;">{:C('Mark')['caiku']}</a>

        <div class="lhck160_history_tool">
            <div class="lhck160_h_t_li" id="divHistoryType">
                <b>选择属性：</b>
                <?php $type=$_GET['type']; ?>
                <a class="lhck160_h_t_btn1 <?php echo (($type ==1) || empty($type)) ? btn1_hover : '';?>" href="?year={$_GET['year']}&type=1">生肖</a>
                <a class="lhck160_h_t_btn1 <?php echo ($type ==2) ? btn1_hover : '';?>" href="?year={$_GET['year']}&type=2">五行</a>
                <a class="lhck160_h_t_btn1 <?php echo ($type ==3) ? btn1_hover : '';?>" href="?year={$_GET['year']}&type=3">家禽野兽</a>
                <a class="lhck160_h_t_btn1 <?php echo ($type ==4) ? btn1_hover :'';?>" href="?year={$_GET['year']}&type=4">男女生肖</a>
                <a class="lhck160_h_t_btn1 <?php echo ($type ==5) ? btn1_hover : '';?>" href="?year={$_GET['year']}&type=5">天地生肖</a>
                <a class="lhck160_h_t_btn1 <?php echo ($type ==6) ? btn1_hover :'';?>" href="?year={$_GET['year']}&type=6">四季生肖</a>
                <a class="lhck160_h_t_btn1 <?php echo ($type ==7) ? btn1_hover : '';?>" href="?year={$_GET['year']}&type=7">琴棋书画</a>
                <a class="lhck160_h_t_btn1 <?php echo ($type ==8) ? btn1_hover : '';?>" href="?year={$_GET['year']}&type=8">三色生肖</a>
                <a class="lhck160_h_t_explanation" href="javascript:void(0);"></a>
                <div style="clear: both"></div>
            </div>
            <div class="lhck160_h_t_li" id="divPosition">
                <b>选择位置：</b>
                <label>
                <span>
                    <input value="0" type="checkbox" /></span><i>正码一</i></label>
                <label>
                <span>
                    <input value="1" type="checkbox" /></span><i>正码二</i></label>
                <label>
                <span>
                    <input value="2" type="checkbox" /></span><i>正码三</i></label>
                <label>
                <span>
                    <input value="3" type="checkbox" /></span><i>正码四</i></label>
                <label>
                <span>
                    <input value="4" type="checkbox" /></span><i>正码五</i></label>
                <label>
                <span>
                    <input value="5" type="checkbox" /></span><i>正码六</i></label>
                <label>
                <span>
                    <input value="6" type="checkbox" /></span><i>特码</i></label>
                <a id="clearPosition" class="lhck160_h_t_btn2" href="javascript:void(0);">还原</a>
                <div style="clear: both"></div>
            </div>
            <div id="divWhere" class="lhck160_h_t_li">
                <b>选择条件：</b>
                <label>
                    <span>
                        <input type="checkbox" value="鼠" />
                    </span>
                    <i>鼠</i>
                </label>
                <label>
                    <span>
                        <input type="checkbox" value="牛" />
                    </span>
                    <i>牛</i>
                </label>
                <label>
                    <span>
                        <input type="checkbox" value="虎" />
                    </span>
                    <i>虎</i>
                </label>
                <label>
                    <span>
                        <input type="checkbox" value="兔" />
                    </span>
                    <i>兔</i>
                </label>
                <label>
                    <span>
                        <input type="checkbox" value="龙" />
                    </span>
                    <i>龙</i>
                </label>
                <label>
                    <span>
                        <input type="checkbox" value="蛇" />
                    </span>
                    <i>蛇</i>
                </label>
                <label>
                    <span>
                        <input type="checkbox" value="马" />
                    </span>
                    <i>马</i>
                </label>
                <label>
                    <span>
                        <input type="checkbox" value="羊" />
                    </span>
                    <i>羊</i>
                </label>
                <label>
                    <span>
                        <input type="checkbox" value="猴" />
                    </span>
                    <i>猴</i>
                </label>
                <label>
                    <span>
                        <input type="checkbox" value="鸡" />
                    </span>
                    <i>鸡</i>
                </label>
                <label>
                    <span>
                        <input type="checkbox" value="狗" />
                    </span>
                    <i>狗</i>
                </label>
                <label>
                    <span>
                        <input type="checkbox" value="猪" />
                    </span>
                    <i>猪</i>
                </label>
                <a id="clearProperty" class="lhck160_h_t_btn2" href="javascript:void(0);">还原</a>
                <div style="clear: both"></div>
            </div>
        </div>

        <table class="history_numbers">
            <tr class="head">
                <td style="width: 100px;">年份/期数
                </td>
                <td>正码
                </td>
                <td style="width: 80px;">特码
                </td>
                <td style="width: 100px;">特码单双
                </td>
                <td style="width: 100px;">特码大小
                </td>
                <td style="width: 100px;">总和单双
                </td>
                <td style="width: 100px;">总和大小
                </td>
            </tr>
            <volist name="records" id="record">
                <tr>
                    <td>
                        {$record.periods}期<br />{:date('Y-m-d',strtotime('created_at'))}
                    </td>
                    <td class="pl_17 numbre">
                        <?php
                           $justArr  = array_filter(explode(',',$record['just_string']));


                            $justType = array_filter(explode(',',$record['just_type']));
                        ?>
                        <volist name="justArr" id="just" key="key">

                              <div data-text="{$justType[$key-1]}"  class="data">
                                  <?php $ceil = $just % 6 ; ?>
                                  <switch name="ceil" >
                                      <case value="0"><span class="green"></case>
                                      <case value="1"><span class="red"></case>
                                      <case value="2"><span class="red"></case>
                                      <case value="3"><span class="blue"></case>
                                      <case value="4"><span class="blue"></case>
                                      <case value="5"><span class="green"></case>
                                  </switch>
                                   {$just}
                                        </span><b>{$justType[$key-1]}</b>
                              </div>

                        </volist>
                    </td>
                    <td class="numbre">
                        <div data-text="{$record.special_type}"  class="data">
                            <?php $ceil = $record['special_number'] % 6 ; ?>
                            <switch name="ceil" >
                                <case value="0"><span class="green"></case>
                                <case value="1"><span class="red"></case>
                                <case value="2"><span class="red"></case>
                                <case value="3"><span class="blue"></case>
                                <case value="4"><span class="blue"></case>
                                <case value="5"><span class="green"></case>
                            </switch>
                            {$record['special_number']}</span><b>{$record['special_type']}</b></div>
                    </td>
                    <td>
                        <p>{$record.one_two}</p>
                    </td>
                    <td>
                        {$record.big_small}                </td>
                    <td>
                        {$record.sum_one_two}
                        ({$record.sum})
                    </td>
                    <td>
                        {$record.sum_big_small}                </td>
                </tr>

            </volist>
        </table>

        <div class="lhck160_history_propertySheet">
            <table class="history_year">
                <tr >
                    <td style="width: 114px;">属性</td>
                    <td>鼠</td>
                    <td>牛</td>
                    <td>虎</td>
                    <td>兔</td>
                    <td>龙</td>
                    <td>蛇</td>
                    <td>马</td>
                    <td>羊</td>
                    <td>猴</td>
                    <td>鸡</td>
                    <td>狗</td>
                    <td>猪</td>
                </tr>
                <tr >
                    <td>特码最大间隔<span class="lhck160_ps_explanation">
                        <span class="lhck160_ps_explanationBox">
                            <span class="lhck160_ps_explanationBox1">
                                <span class="lhck160_ps_explanationBox2">
                                    <b>特码最大间隔：</b>即特码的最大遗漏，遗漏是两个相同号码之间间隔的期数。最大遗漏是指两个号码在统计期数内历史间隔最多的期数。
                                </span>
                            </span>
                        </span>
                    </span>
                    </td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr >
                    <td>特码累计次数<span class="lhck160_ps_explanation">
                        <span class="lhck160_ps_explanationBox">
                            <span class="lhck160_ps_explanationBox1">
                                <span class="lhck160_ps_explanationBox2">
                                    <b>特码累计次数：</b>即特码统计内出现次数的和。
                                </span>
                            </span>
                        </span>
                    </span></td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </table>
        </div>

    </div>

    <!--用户反馈-->


    <div id="hck_vshare" style="display: none; position: fixed;">
        <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare"><a class="bds_tsina" title="分享到新浪微博" href="#"></a><a class="bds_tqq" title="分享到腾讯微博" href="#"></a><a class="bds_tieba" title="分享到百度贴吧" href="#"></a><a class="bds_qzone" title="分享到QQ空间" href="#"></a><span class="bds_more"></span></div>
    </div>
    <script type="text/javascript" src="{:C('PUBLIC_PC')}/Scripts/navshare.min.js" charset="utf-8"></script>
    <script type="text/javascript">
        $(document).ready(function () {
//            $("#divHistoryType a").eq(1-1).addClass("btn1_hover");
            $(".lhck160_history_tool div:gt(0) input[type='checkbox']").on("click", function () {
                upNumbersState();
            });
            //还原
            $("#clearPosition").on("click", function () {
                $("#divPosition input[type='checkbox']").prop("checked", false);
                upNumbersState();
            });
            $("#clearProperty").on("click", function () {
                $("#divWhere input[type='checkbox']").prop("checked", false);
                upNumbersState();
            });

            $(".lhck160_ps_explanation").hover(function () {
                $(this).children().show();
            }, function () {
                $(this).children().hide();
            });



            $(".lhck160_h_t_explanation").click(function () {
                $(".lhck160_maskLayer,.lhck160_h_explanationPopups1").show();
            });
            $(".lhck160_h_ep_close").click(function () {
                $(".lhck160_maskLayer,.lhck160_h_explanationPopups1").hide();
            });


            var idx = 0;
            $("#explanatiotool a").click(function () {
                $("#explanatiotool a").eq(idx).removeClass("hover");
                $(this).addClass("hover");

                $("#explanatioinfo .info").eq(idx).hide();

                idx = Number($(this).index());
                $("#explanatioinfo .info").eq(idx).show();
            });
        });


        //更新状态
        function upNumbersState() {
            $(".history_numbers tr").each(function (i, itemTr) {
                $(itemTr).find('.data').each(function (j, item) {
                    if (!$(item).hasClass("lhck160_h_n_opacity")) {
                        $(item).addClass("lhck160_h_n_opacity");
                    }
                });
            });
            //var d1 = new Date().getTime();
            var positions = "";
            $("#divPosition input:checked").each(function () {
                positions += $(this).val();
            });
            var wheres = "";
            $("#divWhere input:checked").each(function () {
                wheres += $(this).val();
            });
            //遍历
            if (positions == "" && wheres == "") {
                $(".history_numbers tr").each(function (i, itemTr) {
                    $(itemTr).find('.data').each(function (j, item) {
                        if ($(item).hasClass("lhck160_h_n_opacity")) {
                            $(item).removeClass("lhck160_h_n_opacity");
                        }
                    });
                });
            }
            else {
                $(".history_numbers tr").each(function (i, itemTr) {
                    $(itemTr).find('.data').each(function (j, item) {
                        if (positions != "" && wheres == "") {
                            if (positions.indexOf(j.toString()) > -1) {
                                $(item).removeClass("lhck160_h_n_opacity");
                            };
                        }
                        else if (positions == "" && wheres != "") {
                            if (wheres.indexOf($(item).attr("data-text")) > -1) {
                                $(item).removeClass("lhck160_h_n_opacity");
                            };
                        }
                        else {
                            if (positions.indexOf(j.toString()) > -1 && wheres.indexOf($(item).attr("data-text")) > -1) {
                                $(item).removeClass("lhck160_h_n_opacity");
                            };
                        }
                    });
                });
            }
            //var d2 = new Date().getTime();
            //console.log(d2 - d1);
        }
    </script>


</block>

<include file="Include:footer"/>
<!-- 头部结束-->