<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>6hc后台管理</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- basic styles -->
    <link href="{:C('__STATIC__')}/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{:C('__STATIC__')}/assets/css/font-awesome.min.css"/>

    <!--[if IE 7]>
    <link rel="stylesheet" href="{:C('__STATIC__')}/assets/css/font-awesome-ie7.min.css"/>
    <![endif]-->

    <!-- page specific plugin styles -->

    <!-- fonts -->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300"/>

    <!-- ace styles -->

    <link rel="stylesheet" href="{:C('__STATIC__')}/assets/css/ace.min.css"/>
    <link rel="stylesheet" href="{:C('__STATIC__')}/assets/css/ace-rtl.min.css"/>
    <link rel="stylesheet" href="{:C('__STATIC__')}/assets/css/ace-skins.min.css"/>

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{:C('__STATIC__')}/assets/css/ace-ie.min.css"/>
    <link rel="stylesheet" href="{:C('__STATIC__')}/assets/css/jquery-ui-1.10.3.full.min.css"/>
    <![endif]-->


    <link rel="stylesheet" href="{:C('__STATIC__')}/lottery/lottery.admin.css"/>
    <link rel="stylesheet" href="{:C('__STATIC__')}/lottery/lottery.global.css"/>
    <link rel="stylesheet" href="{:C('__STATIC__')}/assets/css/datepicker.css"/>
    <!-- inline styles related to this page -->
    <link rel="stylesheet" href="{:C('__STATIC__')}/validator/jquery.validator.css">
    <!-- ace settings handler -->

    <script src="{:C('__STATIC__')}/assets/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="{:C('__STATIC__')}/assets/js/html5shiv.js"></script>
    <script src="{:C('__STATIC__')}/assets/js/respond.min.js"></script>


    <![endif]-->
    <script src="{:C('__STATIC__')}/assets/js/jquery-2.0.3.min.js"></script>
</head>

<body>

<!-- head -->
<include file="Public/head"/>
<!-- /head -->


<!-- left -->
<include file="Public/siderbar"/>
<!-- /left-->

<!--basic scripts -->

<!--[if !IE]> -->
<block name="main"></block>


<!-- 操作后提示框 -->
<div id="lg-alert" class="hide" style="margin-bottom:-1.5em;"></div>
<!--modal表单弹出框-->
<form id="lg-form" class="modal fade hide form-horizontal" method="post" tabindex="-1" enctype="multipart/form-data"
      onsubmit="return false;"></form>

<!-- <![endif]-->

<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

<!--[if !IE]> -->

<!--<script type="text/javascript">-->
<!--window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>"+"<"+"script>");-->
<!--</script>-->

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='{:C('__STATIC__')}/assets/js/jquery-1.10.2.min.js'>" + "<" + "script>");
</script>
<![endif]-->

<script type="text/javascript">
    if ("ontouchend" in document) document.write("<script src={:C('__STATIC__')}/assets/js/jquery.mobile.custom.min.js'>" + "<" + "script>");
</script>
<script src="{:C('__STATIC__')}/assets/js/bootstrap.min.js"></script>
<script src="{:C('__STATIC__')}/assets/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src="{:C('__STATIC__')}/assets/js/excanvas.min.js"></script>
<![endif]-->
<script src="{:C('__STATIC__')}/assets/js/jquery.mobile.custom.min.js"></script>
<script src="{:C('__STATIC__')}/assets/js/jquery-ui-1.10.3.full.min.js"></script>
<script src="{:C('__STATIC__')}/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="{:C('__STATIC__')}/assets/js/jquery.slimscroll.min.js"></script>
<script src="{:C('__STATIC__')}/assets/js/jquery.easy-pie-chart.min.js"></script>
<script src="{:C('__STATIC__')}/assets/js/jquery.sparkline.min.js"></script>
<script src="{:C('__STATIC__')}/assets/js/flot/jquery.flot.min.js"></script>
<script src="{:C('__STATIC__')}/assets/js/flot/jquery.flot.pie.min.js"></script>
<script src="{:C('__STATIC__')}/assets/js/flot/jquery.flot.resize.min.js"></script>

<script src="{:C('__STATIC__')}/layer/layer.js"></script>

<script src="{:C('__STATIC__')}/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<!-- ace scripts -->

<script src="{:C('__STATIC__')}/assets/js/ace-elements.min.js"></script>
<script src="{:C('__STATIC__')}/assets/js/ace.min.js"></script>
<script src="{:C('__STATIC__')}/assets/js/jquery.dataTables.min.js"></script>
<script src="{:C('__STATIC__')}/assets/js/jquery.dataTables.bootstrap.js"></script>
<!-- inline scripts related to this page -->
<script src="{:C('__STATIC__')}/lottery/lottery.global.js"></script>
<script src="{:C('__STATIC__')}/laydate/laydate.js"></script>

<script type="text/javascript" src="{:C('__STATIC__')}/validator/jquery.validator.js"></script>
<script type="text/javascript" src="{:C('__STATIC__')}/validator/local/zh-CN.js"></script>


{//js}
<block name="js"></block>
</body>
</html>

