<extend name="Public/base"/>

{// 左侧菜单}
<block name="sidebar">
    <include file="Public/sidebar" nav="agent"/>
</block>

<block name="main">
    <div class="main-content">
        <div class="page-content">
            <div class="page-header">
                <h1>
                    回复管理
                    <small>
                        <i class="icon-double-angle-right"></i>
                        查看
                    </small>
                </h1>
            </div><!-- /.page-header -->

            <div class="row">
                <form class="form-search" method="get" action="{:U('Admin/ReplayTie/index')}">
                    <div class=" col-sm-3">
                        <div class="input-group">
                        <select id="form-field-select-2" name="type" class="col-sm-5">
                                <option value="" disabled selected>类型</option>
                                <option value="user_id">回帖人</option>
                                <option value="zhutie_id">所属帖子</option>
                                <option value="content">回复内容</option>
                            </select>
                            <input type="text" name="scontent" placeholder="请输入内容" class="input-small" />
                        </div>
                    </div>
                   
                    <div class=" col-sm-3">
                        <div class="input-group">
                            <label class="control-label no-padding-right" for="form-field-1"> 前台显示: </label>
                            <select id="form-field-select-2" name="is_display" class="">
                                <option value="前台显示" disabled selected>--前台显示--</option>
                                <option value="1">显示</option>
                                <option value="0">不显示</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-3" >
                        <div class="input-group">
                            <!-- <input class="form-control search-query" placeholder="请输入搜素内容" type="text" name="lottery_serach"> -->
                            <span class="input-group-btn">
                                <button class="btn btn-purple btn-sm" type="submit">
                                    搜索
                                    <i class="icon-search icon-on-right bigger-110"></i>
                                </button>
                                 <button class="btn btn-grey btn-sm" type="reset">
                                    重置
                                     <i class="icon-remove icon-on-right bigger-110"></i>
                                 </button>
                            </span>
                        </div>
                    </div>
                </form>

                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-6">
                            
                        </div>

                        <div class="col-xs-4"></div>
                        <!-- <div class="col-xs-2">共<span class="badge badge-success">{$count}</span>人被禁用<span class="badge badge-pink">{$disableCount}</span>人</div> -->
                    </div>
                    <div class="table-header">
                        回复统计
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="center">
                                                <label>
                                                    <input type="checkbox" class="ace">
                                                    <span class="lbl"></span>
                                                </label>
                                            </th>
                                            <!-- <th>回帖标题</th> -->
                                            <th>id</th>
                                            <th>回帖人</th>
                                            <th>所属帖子</th>
                                            <th>前台显示</th>
                                            <th>回复总数</th>
                                            <th>回复对象</th>
                                            <th>回复路径</th>
                                            <th><i class="icon-time hidden-480"></i>回复时间</th>
                                            <th>回复内容</th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <volist name="discussReplayTies" id="discussReplayTie">
                                            <tr>
                                                <td class="center">
                                                    <label>
                                                        <input type="checkbox" class="ace">
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>

                                                <!-- <td>{$discussReplayTie.title}</td> -->
                                                <td>{$discussReplayTie.id}</td>
                                                <td>{$discussReplayTie.username}</td>
                                                <td>{$discussReplayTie.ztitle}</td>
                                                <td>
                                                    <switch name="discussReplayTie.is_display">
                                                        <case value="pending"></case>
                                                        <case value="1"><span class="label label-lg label-pink arrowed-right">显示</span></case>
                                                        <case value="0"><span class="label label-lg label-black arrowed-right">不显示</span></case>
                                                        <default /><span class="label label-lg label-red arrowed-right">错误的属性</span>
                                                    </switch>
                                                </td>
                                               
                                                <td>{$discussReplayTie.replay_nums}个回复</td>
                                                <td>{$discussReplayTie.content|mb_substr=0,8,'utf-8'}</td>
                                                <td>
                                               
                                                    <foreach name="discussReplayTie.reply_text" item="text">
                                                        {$text}
                                                    </foreach>
                                            
                                                <td></td>
                                                <td class="center discuss_content"><i class="icon-folder-open"></i> <span class="dis_content" style="display:none;">{$discussReplayTie.content}</span></td>
                                                <td>
                                                    <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                                    <a class="blue" href="#">
                                                        <i class="icon-zoom-in bigger-130"></i>
                                                    </a>
                                                    <a class="green" href="{:U('ReplayTie/edit/',array('id'=>$discussReplayTie['id']))}">
                                                        <i class="icon-pencil bigger-130"></i>
                                                    </a>
                                                    <a href="javascript:;" class="red del-confirm"  title="Delete" data-id="{$discussReplayTie['id']}">
                                                        <i class="icon-trash bigger-130"></i>
                                                    </a>
                                                </div>

                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="inline position-relative">
                                                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown">
                                                            <i class="icon-caret-down icon-only bigger-120"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                                            <li>
                                                                <a href="#" class="tooltip-info a" data-rel="tooltip" title="View">
                                                                    <span class="blue">
                                                                        <i class="icon-zoom-in bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="{:U('ReplayTie/edit/',array('id'=>$discussReplayTie['id']))}" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                    <span class="green">
                                                                        <i class="icon-edit bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" class="tooltip-error del-confirm" data-rel="tooltip" title="Delete" data-id="{$discussReplayTie['id']}">
                                                                    <span class="red">
                                                                        <i class="icon-trash bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                </td>
                                            </tr>
                                        </volist>
                                    </tbody>
                                </table>
                                <div class="row-fluid">
                                    <div class="page">{$page}</div>
                                 </div>
                            </div><!-- /.table-responsive -->
                        </div><!-- /span -->
                    </div>

                </div>

            </div>
        </div>
    </div>
</block>
    <block name="js">
        <script type="text/javascript">
            jQuery(function($) {
                var oTable1 = $('#sample-table-2').dataTable();


                $('table th input:checkbox').on('click' , function(){
                    var that = this;
                    $(this).closest('table').find('tr > td:first-child input:checkbox')
                            .each(function(){
                                this.checked = that.checked;
                                $(this).closest('tr').toggleClass('selected');
                            });

                });


                $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
                function tooltip_placement(context, source) {
                    var $source = $(source);
                    var $parent = $source.closest('table')
                    var off1 = $parent.offset();
                    var w1 = $parent.width();

                    var off2 = $source.offset();
                    var w2 = $source.width();

                    if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
                    return 'left';
                }




            })
//                               layer.confirm('您是如何看待前端开发？', {
//                         btn: ['重要','奇葩'] //按钮
//                     }, function(){
//                         layer.msg('的确很重要', {icon: 1});
//                     }, function(){
//                         layer.msg('也可以这样', {
//                             time: 20000, //20s后自动关闭
//                             btn: ['明白了', '知道了']
//                         });
//                     });
            $('.del-confirm').on('click' , function() {
                var  id = $(this).attr('data-id');
                _this = $(this);
                layer.confirm('您确认删除该帖子么?', {
                            btn: ['确定', '取消']
                        }, function () {
                             $.ajax({
                                url: '{:U("ReplayTie/delete")}',
                                type: 'post',
                                dataType: '',
                                data: {'id':id},
                                success: function(d){
                                    if(d.status == 'ok') {
                                        _this.parents('tr').remove();
                                        layer.msg('删除成功', {icon: 1});
                                    }else{
                                        layer.msg('删除失败', {icon: 3});
                                    }
                                }
                    });
                        }, function () {
                            layer.msg('已取消', {icon: 2});
                        });
            });
            $('.discuss_content').click(function(){
                _this = $(this);
                var content= _this.find('.dis_content').html();
               layer.open({
                  type: 1,
                  title: '内容',
                  skin: 'layui-layer-rim', //加上边框
                  area: ['600px', '350px'], //宽高
                  content: content
                }); 
            })
            
         </script>
    </block>


