<extend name="Public/base"/>

<block name="right-nav">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="{:U('Admin/Index/index')}">控制台</a>
        </li>

        <li>
            <a href="{:U('Admin/Power/rule')}">权限规则管理</a>
        </li>
        <li class="active">添加</li>
    </ul>
    <!-- .breadcrumb -->
</block>
<block name="main">
    <div class="main-content">
        <div class="page-content">
            <div class="page-header">
                <h1>
                    权限规则管理
                    <small class="active">
                        <i class="icon-double-angle-right"></i>
                        添加
                    </small>
                </h1>
            </div>
            <!-- /.page-header -->

            <div class="alert  hide ">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>

                <strong>
                    <i class="icon-remove"></i>

                </strong>
                <span>Change a few things up and try submitting again.</span>

                <br>
            </div>

            <div class="row">
                <div class="col-xs-12">

                    <form class="form-horizontal" id="signup_form" role="form" autocomplete="off"
                          data-validator-option="{theme:'simple_right'}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">规则名称</label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" name="titles" placeholder="请输入规则名称"
                                       class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>

                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">规则字段</label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-2" name="name" placeholder="格式:Admin/Index/index"
                                       class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="submit">
                                    <i class="icon-ok bigger-110"></i>
                                    提交
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="icon-undo bigger-110"></i>
                                    重置
                                </button>
                            </div>
                        </div>


                    </form>


                </div>

            </div>

        </div>


    </div>


    {// main}


</block>

<block name="js">
    <script type="text/javascript">
        $('#signup_form').validator({
            rules: {
                //自定义一个规则，用来代替remote（注意：要把$.ajax()返回出来）
                myRemote: function (element) {
                    return $.ajax({
                        url: '{:U("Power/checkName")}',
                        type: 'post',
                        data: element.name + '=' + element.value,
                        dataType: 'json',
                        success: function (d) {
                            window.console && console.log(d);
                        }
                    });
                }
            },
            fields: {
                'titles': 'required;',
                'name': 'required; myRemote;'

            },
            // 表单验证通过后，ajax提交
            valid: function (form) {

                var me = this;
                // ajax提交表单之前，先禁用submit
//                me.holdSubmit();
                $(form).find('btn-info').css('color', '#999').text('正在提交..');
                $.ajax({
                    url: '{:U("Power/doRuleAdd")}',
                    type: 'post',
                    data: $(form).serialize(),
                    dataType: 'json',
                    success: function (d) {
                        $(form).find('btn-info').css('color', '#333').text('提交');
//                        $('#result')
//                                .fadeIn(300).delay(2000)
//                                .fadeOut(500, function(){
//                                    // 直到动画结束，才可以再次提交
//                                    me.holdSubmit(false);
//                                    alert(11);
//                                });
                        if (d.status == 'ok') {
                            layer.msg('添加成功', {icon: 1});
                            setTimeout(function () {
                                location.href = "/Admin/Power/rule";
                            }, 2000);

                        } else {
                            layer.msg(d.message, {icon: 1});
                        }
                    }
                });

            }
        });
    </script>

</block>